body{
    background-color: var(--Grey-900);
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;
}

/* Css variables */
:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

/* Text Styling */
.Text-Preset-1{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
}

.Text-Preset-2{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

.Text-Preset-2-bold{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

/* Text colors */
.green{
    color: var(--Green);
}
.white{
    color: var(--White);
}
.grey-700{
    color: var(--Grey-700);
}
.grey-800{
    color: var(--Grey-800);
}
.grey-900{
    color: var(--Grey-900);
}

/* Main styling */
#card{
    display: flex;
    max-width: 304px;
    max-height: 531px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 12px;
    background-color: var(--Grey-800);
}


/* Profile info section */
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personnal-info{
    text-align: center;
}
.profile-img{
    width: 88px;
    height: 88px;
    border-radius: 999px;
    background: url(assets/images/avatar-jessica.jpeg) lightgray 50% / cover no-repeat;
}

.name{
    align-self: stretch;
}

.location{
    align-self: stretch;
}

/* Social links */
.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.link-btn{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Grey-700);
    border: 0;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.link-btn:hover {
  background-color: var(--Green); 
  color: var(--Grey-800); 
}

.link-btn:not(:hover) {
    transition: background-color 1s ease-out, color 1s ease-out; 
}

.txt-btn{
    color: var(--color-white, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

/* Atrribution and credits */
.attribution{
    font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Responsive design */
/* Tablet styles (up to 768px)*/
@media (max-width: 768px) {
    #card{
         max-width: 376px;
        max-height: 531px;
        padding: 40px;
        justify-content: center
    }
}

/* Phone styles (up to 375px)*/
@media (max-width: 466px) {
    #card{
        max-width: 279px;
        max-height: 531px;
        padding: 24px;
        justify-content: center;
    }
}
